@import './vars';

.header {
  height: 100vh;
  background-image: url('/assets/imgs/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;

  &__container {
    @include container;

    margin-top: auto;
    margin-bottom: 300px;
  }

  &__title {
    font-weight: bold;
    font-size: 88px;
    line-height: 107px;
    text-transform: uppercase;
    max-width: 600px;
  }

  &__subtitle {
    margin-top: 10px;
    font-weight: 300;
    font-size: 34px;
    line-height: 41px;
  }

  &__scroll {
    cursor: pointer;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.navigation {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;

  &__container {
    @include container;

    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    margin-right: auto;
  }

  &__item {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-left: 30px;
    position: relative;
    display: flex;
    align-items: center;

    &:hover {
      color: #fff;
      text-decoration: none;

      &:before {
        height: 5px;
      }
    }

    &:before {
        content: '';
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        bottom: -10px;
        transition: height .3s ease;
      }

    &--is-active {
      &:before {
        height: 5px;
      }
    }
  }
}

.about-us {
  padding-top: 50px;
  padding-bottom: 45px;

  &__container {
    @include container;
  }

  &__title {
    @include section-title;
  }

  &__subtitle {
    @include section-subtitle;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  &__description {
    background-color: #F1F2F2;
    padding: 70px 65px 70px 30px;
    position: relative;

    &:after {
      content: '';
      width: 60px;
      height: 100%;
      position: absolute;
      left: 100%;
      top: 0;
      background-color: #F1F2F2;
    }
  }

  &__img {
    position: relative;
  }

  &__paragraph {
    font-weight: 200;
    font-size: 20px;
    line-height: 34px;

    &--shifted {
      max-width: 300px;
      width: 100%;
      margin-left: auto;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;
  }

  &__year {
    font-weight: bold;
    font-size: 90px;
    line-height: 34px;
    color: #3EB17A;
    border: 1px solid #3EB17A;
    width: 225px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    position: absolute;
    left: -92px;
  }

  &__bold {
    font-weight: 600;
  }

  &__quote {
    display: flex;
    text-align: right;
    margin-top: 50px;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;

    span {
      font-family: Hiragino, sans-serif;
      font-size: 100px;
      color: #3EB17A;
      margin-top: 15px;
      margin-right: 5px;
    }
  }

  &__italic {
    font-style: italic;
  }
}

.technologies {
  background-color: #3EB17A;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  text-align: center;

  &__container {
    @include container;
  }

  &__title {
    @include section-title-technology;
  }

  &__subtitle {
    @include section-subtitle;

    max-width: 600px;
  }

  &__infocard {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
  }

  &__contact {
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    color: #fff;
    border: 1px solid #fff;
    background: none;
    outline: none;
    padding: 7px 20px;
    transition: box-shadow .3s ease;

    &:focus {
      outline: none;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, .4) inset;
    }
  }
}

.portfolio {
  padding-top: 60px;

  &__container {
    @include container;
  }

  &__title {
    @include section-title;
  }

  &__inner {

    .swiper-container {
      padding: 60px 40px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      &:after {
        display: none;
      }
    }

    .swiper-button-next {
      right: -5px;
    }

    .swiper-button-prev {
      left: -5px;
    }
  }
}

.work-with {
  padding-top: 90px;
  padding-bottom: 90px;
  color: #fff;
  background: url('/assets/imgs/waf_logo_white.png') #32423A no-repeat 35px 95%;

  &__container {
    @include container;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    max-width: 400px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 26px;
    line-height: 38px;
    text-transform: uppercase;
    position: relative;
    margin-top: 25px;

    &:after {
      content: '';
      width: 190px;
      height: 1px;
      background: #fff;
      position: absolute;
      bottom: 10px;
      margin-left: 15px;
    }
  }

  &__item {
    width: 310px;
    height: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #24382E;
    padding: 5px 10px;

    &:first-child {
      background: linear-gradient(258.61deg, #3EB17A 0.96%, #348C5F 87.6%);
    }

    &:nth-child(odd) {
      margin-right: 15px;
    }

    &:nth-child(-n+4) {
      margin-bottom: 15px;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-end;
  }

  &__caption {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
  }

  &__text {
    font-weight: 200;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
  }
}

.team {
  padding-top: 50px;
  padding-bottom: 50px;

  &__container {
    @include container;
  }

  &__title {
    @include section-title;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: -20px;
  }

  &__description {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 60px;
  }
}

.contact-us {
  &__container {
    @include container;
  }

  &__inner {
    background: #F1F2F2;
    padding-top: 60px;
    padding-left: 60px;
  }
}























.main-page-bg-1 {
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #002406 0%, rgba(0, 36, 6, 0.871589) 35.76%, rgba(0, 36, 6, 0) 100%);

  > img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.main-page-bg-2 {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.88;
}

.main-page-bg-3 {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #002406 0%, rgba(0, 36, 6, 0.871589) 35.76%, rgba(0, 36, 6, 0) 100%);
    transform: rotate(180deg);
  }

  > img {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.agency-banner {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/imgs/banner-girl-worker.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #002406, $alpha: .68);
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: #FFFFFF;
    text-shadow: 0px 4px 60px #01FF2A;
    text-align: center;

    @media (max-width: $sm) {
      font-size: 42px;
    }
  }

  &__logo {
    margin-top: 4rem;

    @media (max-width: $sm) {
      transform:scale(0.8);
      margin-top: 2rem;
    }
  }

  &__scroller {
    position: absolute;
    bottom: 2rem;
    cursor: pointer;
    transition: transform .3s;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
    @-webkit-keyframes pulsing {
      0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
      }
      50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
      }
      100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
      }
    }
    @keyframes pulsing {
      0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
      }
      50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
      }
      100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
      }
    }
  }
}

.about {
  color: #FFFFFF;
  text-align: center;

  &__title {
    padding-top: 9rem;
    font-weight: 500;
    font-size: 45px;
    text-shadow: 0px 4px 4px rgba(1, 255, 42, 0.46);

    @media (max-width: $sm) {
      font-size: 35px;
    }
  }

  &__sub-title {
    margin: 7rem 0 12rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-shadow: 0px 4px 18px rgba(1, 255, 42, 0.25);

    @media (max-width: $sm) {
      font-size: 38px;
      margin: 4rem 0 7rem 0;
    }
  }
}

.we-can-better {
  &__info {
    font-size: 18px;
    text-align: justify;
    color: #FFFFFF;

    @media (max-width: $sm) {
      &:first-child {
        margin-bottom: 4rem;
      }

      &:last-child {
        margin-top: 4rem;
      }
    }
  }

  &__title {
    margin-top: 3rem;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #000000;

    @media (max-width: $sm) {
      margin-top: 2rem;
    }
  }

  &__img {
    @media (max-width: $lg) {
      img {
        width: 100%;
      }
    }
  }
}

// .technologies {
//   padding-top: 7rem;
//   color: #fff;

//   &__title {
//     font-weight: 500;
//     font-size: 45px;
//     text-align: center;
//   }

//   &__sub-title {
//     margin: 1rem 0 7rem 0;
//     font-weight: 800;
//     text-align: center;
//     font-size: 18px;
//   }

//   @media (max-width: $sm) {
//     padding-top: 4rem;
//   }

//   [class*="col"] {
//     @media (max-width: $md) {
//       &:nth-child(n + 2) {
//         margin-top: 5rem;
//       }
//     }

//     @media (min-width: $md) {
//       &:nth-child(3n + 2) {
//         margin: 0 12.5%;
//       }

//       &:nth-child(n + 4) {
//         margin-top: 5rem;
//       }
//     }
//   }
// }

.developers {
  padding: 7rem 0;

  &__title {
    margin-bottom: 8rem;
    font-weight: 500;
    font-size: 18px;
    color: #002406;
    text-align: center;
  }

  &__bg {
    position: absolute;
    top: 24rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 200px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 500;
    font-size: 400px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.11;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    @media (max-width: $sm) {
      display: none;
    }
  }

  [class*="col"] {
    @media (max-width: $sm) {
      &:nth-child(n + 2) {
        margin-top: 5rem;
      }
    }

    @media (min-width: $sm) and (max-width: $lg) {
      &:nth-child(n + 3) {
        margin-top: 5rem;
      }
    }

    @media (min-width: $lg) {
      &:nth-child(3n + 2) {
        margin: 0 12.5%;
      }

      &:nth-child(n + 4) {
        margin-top: 5rem;
      }
    }
  }
}

// .work-with {
//   position: relative;
//   padding: 4rem 0 8rem 0;
//   background-image: url('/assets/imgs/laptop.png');
//   background-repeat: no-repeat;
//   background-size: cover;

//   > * {
//     position: relative;
//   }

//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background-color: rgba($color: #001604, $alpha: .85);
//   }

//   &__title {
//     margin-bottom: 50px;
//     font-weight: 200;
//     font-size: 51px;
//     text-align: center;
//     letter-spacing: 1.188px;
//     color: #FFD412;
//     font-weight: 400;
//   }
// }

// .contact-us {
//   position: relative;
//   overflow: hidden;
//   padding: 7rem 10rem;

//   @media (min-width: $sm) and (max-width: $lg) {
//     padding: 7rem 4rem;
//   }

//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background: linear-gradient(180deg, #002406 0%, rgba(0, 36, 6, 0.871589) 75%, rgba(0, 36, 6, 0) 100%);
//     height: 2000px;
//   }

//   @media (max-width: $sm) {
//     padding: 2rem 1rem;
//   }

//   &__inner {
//     position: relative;
//     padding: 3rem 4rem;
//     background: rgba($color: #000000, $alpha: .3);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     border-radius: 4px;

//     @media (max-width: $sm) {
//       padding: 2rem 1rem;
//     }
//   }

//   &__title,
//   &__subtitle {
//     font-weight: 500;
//     text-align: center;
//     color: #FFFFFF;
//   }

//   &__title {
//     font-size: 45px;

//     @media (max-width: $sm) {
//       font-size: 25px;
//     }
//   }

//   &__subtitle {
//     font-size: 22px;
//     margin: 30px 0 50px 0;

//     @media (max-width: $sm) {
//       font-size: 18px;
//     }
//   }

//   &__social {
//     .col {
//       text-align: center;
//       color: #fff;

//       h1 {
//         @media (max-width: $sm) {
//           font-size: 14px;
//         }
//       }

//       h2 {
//         font-size: 20px;
//         margin-top: 10px;

//         @media (max-width: $sm) {
//           font-size: 7px;
//         }
//       }
//     }

//     a {
//       color: inherit;
//     }

//     svg {
//       scale: .5;
//       fill: #fff;
//     }
//   }
// }

// .portfolio {
//   position: relative;
//   padding: 2rem 0;
//   background-color: #012507;

//   &__title {
//     font-weight: 500;
//     font-size: 45px;
//     text-align: center;
//     color: #fff;
//     margin-bottom: 2rem;
//   }

//   &-item {
//     @media (max-width: $sm) {
//       &:last-child {
//         margin-top: 40px;
//       }
//     }

//     &__img {
//       width: 100%;
//       height: 300px;

//       @media (min-width: $sm) and (max-width: $lg) {
//         height: 200px;
//       }
//     }

//     &__title {
//       margin-top: 20px;
//       font-weight: 800;
//       font-size: 30px;
//       color: #FFFFFF;
//       text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//       text-align: center;
//     }

//     &__btn {
//       margin-top: 20px;
//       position: relative;
//       left: 50%;
//       transform: translateX(-50%);
//       padding: 0.375rem 2rem;
//       color: #fff;
//       background-color: #FFD412;
//     }
//   }
// }
